.header {
    background-color: black;
    padding:20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
  }
  
 
  
  li {
    display: inline;
    flex-direction: column-reverse;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }
  