h1, h2, p{
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    text-align: center;
}

form{
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    /* text-align: center; */
    font-size: 12px;
}

form{
    margin: 10px 10px 10px 10px;
}

::placeholder{
    color:Grey;
    font-size: 12px;
}

body{
    background-color: #003366;
}

/* Alligning video center / floating right*/
video {
    float: right;
    border-radius: 15px;
    /* margin-left: auto;
    margin-right: auto;
    display: block */
    }

textarea{
width: 100%;
max-width: 450px;
}

.button{
    width: 150px;
}

textarea {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 12px
}

